<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Inventory App</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/custom.css" rel="stylesheet" />
    <link href="
https://cdn.jsdelivr.net/npm/toastr@2.1.4/build/toastr.min.css
" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!--header section -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Inventory App</a>
            </div>
            <!-- menu section -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li> <a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-action="Index" asp-controller="Category">Category</a></li>
                    <li><a asp-action="Index" asp-controller="Product">Products</a></li>
                    <li><a asp-action="Index" asp-controller="Student">Student</a></li>
                    <li><a asp-action="Index" asp-controller="Employee">Employee</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sales<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Sales Rep</a></li>
                            <li><a href="#">Vendors</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class=" nav navbar-nav pull-right">
                    <li><a href="#">Lokendra Chand</a></li>
                    <li><a href="#">LogOut</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <partial name="_Notification" />
        @RenderBody()
    </div>
    <script src="~/js/jquery-3.7.0.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery-validation/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    @*@section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }*@
</body>

</html>
